<div class="modal-header">
  <h4 class="modal-title pull-left">Game Over</h4>
</div>
<div class="modal-body">
  <div *ngIf="hasWinner()">
    {{colours[Winner]}} Has won!!
  </div>
  <div *ngIf="!hasWinner()">
    The game is a draw
  </div>
  <div>
    Would you like to play again:
  </div>
  <div class="btn-group" dropdown>
    <button id="button-type" type="button" class="btn btn-primary" (click)="playAgain(true)" aria-controls="dropdown-type">
      Yes
    </button>
    <button id="button-type" type="button" class="btn btn-primary" (click)="playAgain(false)" aria-controls="dropdown-type">
      No
    </button>
  </div>
</div>
<div class="modal-footer">
</div>