<div class="modal-header">
  <h4 class="modal-title pull-left">Game Over</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
 <div *ngIf="hasWinner()">
    {{colours[Winner.colour]}} Has won!!
 </div>
 <div *ngIf="!hasWinner()">
    The game is a draw
 </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>