<div class="container-fluid card">
    <div class="boarder">
        <div *ngFor="let row of board" class="row">
            <div *ngFor="let space of row" class="col">
                <div *ngIf="space.board != null && space.board != undefined" style="position: relative">
                    <ultimateTictactoe (moveEvent)="moveMade($event)" [board]=space.board [owner]=space.owner></ultimateTictactoe>
                </div>
                <div *ngIf="space.board == null || space.board == undefined">
                    <tile (moveEvent)="moveMade($event)" [owner]=space.owner></tile>
                </div>
            </div>
        </div>
    </div>
</div>