.leftvl {
    border-left: 1px solid black;
    height: 100%;
  }

.rightvl {
    border-right: 1px solid black;
    height: 100%;

}
.tophl {
    border-top: 1px solid black;
    width: 100%
}
.bottomhl {
    border-bottom: 1px solid black;
    width: 100%
}

.container {
    margin-left: 15px;
}