<div class="card">
  <div class="input-group mb-3" style="padding-top: 13px">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">User Id</span>
    </div>
    <input [(ngModel)]="UserId" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="login()">Login</button>
    </div>
  </div>
  <div style="margin-left: auto; margin-right: auto">
    <button class="btn btn-outline-secondary">Create User</button>
  </div>
</div>