<div class="modal-header">
  <h4 class="modal-title pull-left">Player Selection</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
        <div class="card">
          <div class="card-body mx-auto">
            <div style="white-space: nowrap">
              <span>Player 1:</span>
              <div class="btn-group" dropdown>
                <button id="button-type" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-type">
                  Type: {{type1}} <span class="caret"></span>
                </button>
                <ul id="dropdown-type" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-type">
                  <li role="menuitem" *ngFor="let type of types">
                    <a class="dropdown-item" (click)="player1Selected(type)">{{type}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div class="card-body mx-auto">
            <div style="white-space: nowrap">
              <span>Player 2:</span>
              <div class="btn-group" dropdown>
                <button id="button-type" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-type">
                  Type: {{type2}} <span class="caret"></span>
                </button>
                <ul id="dropdown-type" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-type">
                  <li role="menuitem" *ngFor="let type of types">
                    <a class="dropdown-item" (click)="player2Selected(type)">{{type}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="input-group mb-3" style="padding-top: 13px">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">No Games</span>
            </div>
            <input [(ngModel)]="noGames" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div style="margin-left: auto; margin-right: auto">
    <button class="btn btn-primary" (click)="play()">Play</button>
  </div>
</div>